extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
      
        h1 Michael A. Kilcorse

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello! My name is Michael Kilcorse. I am an aspiring web developer studying the modern technologies and frameworks that make the web the dynamic, interactive, and fun place that is today.
            | I am seeking to expand and improve upon my knowledge and experience with a company that prides itself in delivering the best quality product possible.
            | Any company that I work for can expect an employee that is loyal and dedicated to providing the best results.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li JQuery
          li Express
          li Node.js
          li HTML 
          li CSS
          li Pug
        h6 Contact Info

        ul
          li (419)-709-7910
          li kilcorse.michael92@gmail.com

        a.button.expanded(target= 'blank' href='https://www.linkedin.com/in/michael-kilcorse-9300a6186/') LinkedIn
        a.button.expanded(target= 'blank' href='https://github.com/kilcorse-michael') GitHub
        a.button.expanded(target= 'blank' href='https://twitter.com/KilcorseM') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
